
body{
    overflow:hidden;
}
.login{
    width: 100%;
    height: 50vh;
    background: url('../images/register-white-bg.png');
    background-repeat: no-repeat;
    z-index:100;
}
.login-head{
    padding-left: 18%;
    padding-bottom:3%;
    font-size:4.5rem;
    color:#491895
}
.btn-login{
    background-color: #491895;
    margin-left: 21%;
    font-size: 18px;
    outline: none;
}
.sign-up{
    background-color: #491895;
    color:white;
    outline: none;
}
#login-form{
    padding: 20vh 2vw 0 8vw;
    z-index:100;
}
#logo{
    zoom:0.8;
    padding: 12% 0 0 10%
}
.login-footer{
    background-image: url('../images/login_footer.png');
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0px;
	top: -30%;
    z-index:1;
}
